.editable-row .ant-form-item-explain {
	position: absolute;
	top: 100%;
	font-size: 12px;
  }

.ant-table.ant-table-bordered > .ant-table-container {
	min-width: 200px;
	overflow: auto;

}

.ant-table.ant-table-bordered {
	width: 100%;
}

.table-links {
	display: flex;
}

.save-button {
	margin-right: 0 !important;
	padding-right: 0 !important;
}

.cancel-button {
	margin-left: 0 !important;
}